/* stylesheet commun*/

/* pour page type cf etu_page.html*/

.fill-heigth{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

#Header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2fb0d4;
    min-height: 100vh;
    position: fixed;
}

#Header h3
{
    color: #757575 !important;
}

#Panel{
    background-color: #eeeeee;
    min-height: 100vh;
	justify-content: space-around;
}

#Progression, #EDT, #Formulaire
{
    background-color: white !important;
}

#BtnDeco
{
	background-color: #757575 !important;
}

#Progression div
{
    text-align: center;
    /*
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around !important;*/
}
.ligne {
    display: inline-block;
    width: 8%;
    height: 3px;
    border-top: 3px solid #757575;
}


.btn
{
	background-color: #2fb0d4;
    display: block;
}
